<link rel="stylesheet" href="/styles/news.css" media="screen" title="no title" charset="utf-8">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mr-5" href="/">
    <img class="mr-3" id="navlogo" src="/images/RR_Brand_Logo.JPG" width="35" height="25" alt="app logo">
    Reuters Reader</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link mr-3" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-3" href="/saved">Saved</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-3" href="/api/load">Load News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-3" href="/api/purge">Clear News</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container-fluid" id="articlepage">
    {{#each dbArticle}}
    {{title}}
    {{summary}}
    {{link}}
    {{/each}}
  </div>





</body>

</html>